---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const articles = await Astro.glob('../../content/articles/*.md');

  return articles.map(article => ({
    params: { 
      slug: article.frontmatter.slug
    },
    props: {
      article
    },
  }))
}

const { Content, frontmatter } = Astro.props.article;
---

<Layout title={`${frontmatter.title}`}>
	<>
    <ul>
      {frontmatter.topics.map((topic: any) => <li>{topic}</li>)}
    </ul>

    <div class="flex justify-center">
      <article class="markdown markdown-invert max-w-none md:markdown-lg lg:markdown-xl">
        <Content/>
      </article>
    </div>
	</>
</Layout>

<style lang="scss">

</style>
