---
import Layout from '../layouts/Layout.astro';
const projects = await Astro.glob('../content/projects/*.md');
---

<Layout title="Welcome to Prism Labs!">
	<>
    <!-- Hero -->
    <div id="hero">
      <h1>Hero</h1>
    </div>

    <!-- About -->
    <div id="about">
      <h1>About</h1>
    </div>

    <!-- Projects -->
    <div id="projects">
      <h1>Projects</h1>

      <ul>
        {projects.map(project => <li><a href={"/project/" + project.frontmatter.slug}>{project.frontmatter.title}</a></li>)}
      </ul>

    </div>
    
	</>
</Layout>

<style lang="scss">
</style>
