---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<div>
	<a href={href}>
		<h2>
			{title}
		</h2>
		<p>
			<slot />
		</p>
	</a>
</div>

<style lang="scss">

</style>
