---
import { Icon } from 'astro-icon';

interface Props {}
const {} = Astro.props;
---

<div class="h-full flex flex-col items-center mx-16 justify-center gap-1">
	<div class="basis-1/4 flex flex-row justify-end gap-2">
		<a target="_blank" href="https://github.com/PrismLabsDev"
			><Icon class="w-7" name="mdi:github" /></a
		>
		<a target="_blank" href="https://mastodon.social/@PrismLabs"
			><Icon class="w-7" name="mdi:mastodon" /></a
		>
		<a target="_blank" href="https://twitter.com/PrismLabsDev"
			><Icon class="w-7" name="mdi:twitter" /></a
		>
		<a target="_blank" href="https://www.reddit.com/user/PrismLabs"
			><Icon class="w-7" name="mdi:reddit" /></a
		>
		<a target="_blank" href="https://www.youtube.com/@PrismLabsDev"
			><Icon class="w-7" name="mdi:youtube" /></a
		>
		<a target="_blank" href="https://www.patreon.com/PrismLabs"
			><Icon class="w-7" name="mdi:patreon" /></a
		>
		<a target="_blank" href="https://dev.to/prismlabs"
			><Icon class="w-7" name="mdi:dev-to" /></a
		>
	</div>
	<p>Copyright © 2023 | Prism Labs</p>
</div>

<style></style>
