---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Prism Labs - Projects">
	<div class="mx-16">
		<h1>Projects</h1>

		<nav class="flex flex-row gap-2">
			<a href="/projects/cmsbase">CMS Base</a>
			<a href="/projects/ficted">Ficted</a>
			<a href="/projects/fvc">FVC</a>
			<a href="/projects/prismchat">Prism Chat</a>
		</nav>
	</div>
</Layout>

<style></style>
