---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/lato';
import '@fontsource/montserrat';
import '@fontsource/open-sans';
import '@fontsource/poppins';
import '@fontsource/redacted-script';
import '@fontsource/righteous';
import '@fontsource/roboto';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js"
			integrity="sha512-bcfltY+lNLlNxz38yBBm/HLaUB1gTV6I0e+fahbF9pS6roIdzUytozWdnFV8ZnM6cSAG5EbmO0ag0a/fLZSG4Q=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="text-white bg-black">
		<header class="h-16 z-20 sticky top-0 backdrop-blur-xl">
			<Header />
		</header>

		<main class="min-h-[calc(100vh-64px-64px)]">
			<slot />
		</main>

		<footer class="h-16">
			<Footer />
		</footer>
	</body>
</html>

<style is:global></style>
