---
import '@fontsource/lato';
import '@fontsource/montserrat';
import '@fontsource/open-sans';
import '@fontsource/poppins';
import '@fontsource/redacted-script';
import '@fontsource/righteous';
import '@fontsource/roboto';

import '../styles/global.scss';

import { Icon } from 'astro-icon'

export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Prism Labs - {title}</title>
	</head>

	<body class="min-h-screen font-lato text-white bg-black">

    <header class="flex flex-row py-3 px-10 h-16 sticky top-0 backdrop-blur">
      <div class="basis-1/4 flex flex-row justify-start items-center font-righteous text-4xl"><a href="/">Prism Labs</a></div>
      <div class="basis-2/4 flex flex-row justify-center items-center text-lg">
        <nav class="flex flex-row space-x-4">
          <a href="/">Home</a>
          <a href="/#about">About</a>
          <a href="/#projects">Projects</a>
        </nav>
      </div>
      <div class="basis-1/4 flex flex-row justify-end items-center">
        <a target="_blank" href="https://github.com/PrismLabsDev"><Icon class="w-12" name="mdi:github" /></a>
      </div>
    </header>

    <main class="min-h-[calc(100vh-64px-64px)]">
      <div class="container mx-auto">
        <slot />
      </div>
    </main>
		
    <footer class="flex flex-row justify-center items-center p-3 h-16">
      <div><p>Copyright © 2022 | Prism Labs</p></div>
    </footer>

	</body>
</html>

<style lang="scss">

</style>
